@{
    ViewBag.Title = "About";
}


<h2>Under Construction</h2>

<p>The purpose of my project is to develop an advanced authentication system using a user image as verification method that validates user identity for accessing applications such as Dropbox, Mobile Banking Apps, or any application containing sensitive data for the user / company.
The project involves two level of verification which will provide an increased level of security. Most of passwords available today can be broken. Hence this project is aimed to achieve the highest security in authenticating users to their desired application or web service containing sensitive information. The two levels are:</p>
<p>•	First Level: The first level is a password system i.e. text based password, passphrase or a pin to authenticate the user’s credentials.</p>
<p>•Second Level: The second level is an image based where users can upload their image and then create a hash code of this image and assigning it to the user’s account. During login process the system will automatically verify the new image hash code with the previous that is stored as “Trusted Image”.</p>
