@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Under Construction : Prototype Advanced Authentication Level</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>First level </h2>
        <p>
            Establish a database and set up secure login with user name and password verification.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Second Level</h2>
        <p>Implement confirmation e-mail and ensure user can not login without confirming their e-mail,
           apply two factor authentication method and password reset usig external API's. </p>
    </div>
    <div class="col-md-4">
        <h2>Third Level</h2>
        <p>Implement and image reader , read meta data , store image in a .blob format and meta data in an encrypted form.</p>
    </div>
</div>